<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un Compte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Créer un Compte</h2>
        <form action="/register" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Créer un Compte</button>
        </form>
        <a href="{{ url_for('login') }}">Retour à la Connexion</a>
    </div>
</body>
</html>
